:root {
    --branco-principal: #fff;
    --cor-fundo: #000;
}

* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #000;
    color: var(--branco-principal);
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 25px;
}

html {
    height: 100%;
    width: 100%;
}

header {
    margin: 50px;
}

ol, ul {
    font-size: 25px;
}

strong {
    color: darkred
}

img {
    width: 100%;
}

.dicas {
    font-size: 30px;
}

button {
    font-family: 'Dancing Script';
    background-color: #000;
    font-size: 25px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--branco-principal);
}